</div>
<footer>

<section id="contact" class="mt-5">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 white-links">
            <p class="footer-title">О Нас</p>
            <ul>
                <li>
                    <a href="/pages/about-us">О нашем магазине</a>
                </li>
                <li>
                    <a href="/pages/contact-us">Связаться с нами</a>
                </li>
                <li>
                    <a href="/pages/shipping-policy">Доставка</a>
                </li>
                <li>
                    <a href="/pages/careers">Вакансии</a>
                </li>
            </ul>  
        </div>

    <div class="col-md-6 col-sm-12 col-xs-12 white-links mb-2">
        <p class="footer-title">Следить за нами</p>
          <a id="profile-link" target="_blank" href="https://instagram.com/">
           <i class="fa fa-instagram" aria-hidden="true"></i>
            Instagram
          </a>
    </div>
    </div>
  </section>
  <section class="bottom-footer">
    <div class="row">
    <div class="col-12 mr-auto"> 
      <!-- TODO: change title -->
      © PetShop 2023
    </div>
   </div>
  </section>

</footer>
</div>


<script src="/javascripts/main.js"></script>
</body>
</html>
