<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">О Нас</h1>
      <h3>Добро пожаловать в наш интернет-магазин!</h3>
      <p>
        Мы - команда людей, которые любят и уважают животных и заботятся о том, чтобы они получали только лучшие
        продукты и услуги. Наш интернет-магазин предлагает широкий ассортимент товаров для всех видов домашних животных,
        включая собак, кошек, грызунов, рыбок и птиц. Мы предлагаем только качественные продукты от проверенных
        поставщиков, которые обеспечивают полезное питание и заботу о здоровье вашего питомца.
      </p>

      <p>
        В нашем интернет-магазине вы найдете все необходимое для вашего любимца: корм, лакомства, игрушки, одежду,
        аксессуары и многое другое. Наша команда всегда готова помочь и ответить на ваши вопросы. Мы стремимся к тому,
        чтобы наши клиенты оставались довольными покупками и возвращались к нам снова и снова.
      </p>

      <p>
        Благодарим вас за посещение нашего интернет-магазина для домашних животных. Мы надеемся, что вы найдете у нас
        все, что вам нужно для вашего питомца, и будем рады видеть вас в числе наших постоянных клиентов!
      </p>
    </div>
    <div class="col-lg-8 col-md-12 mx-auto mt-3 mb-3">
      <h3>Где мы?</h3>
      <p>ул. Уличная 1</p>
      <div class="mt-4" id="map" style="width: 100%; height: 400px"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/map.js"></script>

<%- include ../partials/footer %>
