<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Работа у нас</h1>
      <h3>Мы всегда рады приветствовать талантливых и энергичных людей в нашей команде! </h3>
      <p>
        Если вы любите животных и хотите работать в дружной и динамичной команде, то наш магазин ждет именно вас.
      </p>
      <p>
        У нас всегда есть открытые вакансии для разных позиций, включая продавцов-консультантов, менеджеров по продажам, сотрудников склада, ветеринарных специалистов и другие. Мы ожидаем, что наши сотрудники будут обладать следующими качествами:
          <p>
            <ul>
            <li> - Ответственность и пунктуальность</li>
            <li> - Любовь к животным и понимание их потребностей</li>
            <li> - Коммуникабельность и умение работать в команде</li>
            <li> - Желание обучаться и развиваться в своей профессии</li>
            </ul>
          </p>
          <p>
          Мы предлагаем нашим сотрудникам конкурентную заработную плату, возможности для профессионального роста и карьерного развития, а также приятную рабочую атмосферу.
          Если вы заинтересованы в работе с нами, пожалуйста, отправьте свое резюме и сопроводительное письмо на указанный электронный адрес. Мы обязательно свяжемся с вами в ближайшее время.
          </p>
        <b><i>Связаться с нами через email:</i></b>
          <a href="mailto:petshop.contactt@gmail.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <u>petshop.contactt@gmail.com</u>
          </a>
      </p>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
