<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Условия доставки</h1>
      <p>
        Мы предлагаем доставку заказов по всей стране. Мы стремимся обеспечить быструю и удобную доставку, чтобы вы могли получить свой заказ как можно скорее.
      </p>

      <h4>Сроки доставки</h4>
      <p>
        Время доставки зависит от места назначения, но обычно мы доставляем заказы в течение 3-7 рабочих дней после подтверждения заказа. Мы также предлагаем экспресс-доставку, если вы хотите получить свой заказ быстрее. Стоимость доставки зависит от веса и размера заказа, а также от места назначения.
      </p>

      <h4>Способ доставки</h4>
      <p>
        При оформлении заказа вы можете выбрать удобный способ доставки и получить информацию о стоимости доставки в ваш регион. Вы также можете отслеживать статус своего заказа на сайте нашего интернет-магазина или через систему отслеживания почтовой службы.
      </p>

      <h4>Ответсвенность</h4>
      <p>
        Обратите внимание, что мы не несем ответственности за задержки доставки, вызванные погодными условиями, стачками или другими обстоятельствами, находящимися вне нашего контроля. Если вы столкнулись с проблемами при получении своего заказа, пожалуйста, свяжитесь с нами и мы постараемся решить проблему как можно скорее.
      </p>
      <p>
        Спасибо, что выбрали наш интернет-магазин домашних животных. Мы ценим ваше доверие и будем рады помочь вам с любыми вопросами и проблемами, связанными с доставкой.
      </p>

      <h4>Остались вопросы?</h4>
      <p>
        Можете заполнить форму
        <a href="/pages/contact-us"><u>обратной связи</u></a> или связаться любыми другими способами
      </p>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
